@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Ubuntu&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Oswald, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Ubuntu, sans-serif;
}

body {
    background-color: #efeeb4;
}

/* Game area and buttons */

.game-area {
    background-color: #dad873;
    height: 600px;
    width: 50%;
    margin: 100px auto;
}

.btn {
    font-size: 150px;
    background-color: black;
    border: 1px solid black;
    color: white;
    width: 30%;
    height: auto;
    border-radius: 50%;
    margin-top: 30px;

}

.btn--lightgreen {
    background-color: #309986;
    margin-right: 2%;
    margin-left: 2%;
}

.btn--magenta {
    background-color: #993087;
    margin-right: 3%;
}

.btn--darkgray {
    background-color: #454d66;
}

.choices-area {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 150px;
}

.score-area {
    font-family: Oswald, sans-serif;
    font-size: 25px;
    text-align: center;
}

.score-area p {
    display: inline;
}

span {
    color: #993087;
}

footer {
    background-color: #dad873;
    width: 100%;
    height: 8vh;
    position: fixed;
    left: 0;
    bottom: 0;
}

/* footer */

footer p {
    text-align: center;
}

footer ul {
    text-align: center;
}

footer ul>li {
    display: inline;
    font-size: 30px;
}

.media-icons i {
    color: black;
}

/* transitions for links */

a i {
    transition: all 0.3s linear;
}

a:hover i {
    transform: scale(1.5);
}

/* Media querries for different screen sizes */

@media screen and (max-width: 768px) {
    .game-area {
        width: 75%;
    }

    .btn {
        font-size: 105px;
    }

    .choices-area {
        font-size: 20px;
        margin-top: 100px;
    }
}


@media screen and (max-width: 480px) {
    .game-area {
        width: 85%;
    }

    .btn {
        font-size: 75px;
    }

    .choices-area {
        font-size: 15px;
        margin-top: 50px;
    }
}